@model ImageServiceWeb.Models.Config

@{
    ViewBag.Title = "Configuration";
}

<h2>Cofiguration</h2>

<table class="table">
    <tr>
        <td width="150">
            <b>@Html.DisplayNameFor(model => model.OutputDir)</b>
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.OutputDir)
        </td>
    </tr>
    <tr>
        <td width="150">
            <b>@Html.DisplayNameFor(model => model.SrcName)</b>
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.SrcName)
        </td>
    </tr>
    <tr>
        <td width="150">
            <b>@Html.DisplayNameFor(model => model.LogName)</b>
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.LogName)
        </td>
    </tr>
    <tr>
        <td width="150">
            <b>@Html.DisplayNameFor(model => model.ThumbnailSize)</b>
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.ThumbnailSize)
        </td>
    </tr>
</table>

<h3>Handlers</h3>

<div class="btn-group" style="display:block">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
            foreach (var item in Model.Handlers)
            {
                <input type="submit" formaction="RemoveHandlerView" formmethod="get" style="background-color:white;border:hidden;width:800px;display:block;text-align:left"
                       name="item" value=@Html.DisplayFor(modelItem => item) />
            }
    }
</div>