@model IEnumerable<ImageServiceWeb.Models.Student>

@{
    ViewBag.Title = "Home Page";
}

<h2>Image Service</h2>

<h4 typeof="text" id="statusId" />

<h4 type="text" id="numId" />

<h3>Collaborators</h3>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Group)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Group)
            </td>
        </tr>
    }

</table>

<script>
    $.get("@Url.Action("ServiceStatus")", null, function (data) {
        $("#statusId").text("Service Status: " + data);
    });

    $.get("@Url.Action("NumberOfPics")", null, function (data) {
        $("#numId").text("Number of pics in outputfolder: " + data);
    });
</script>