@model ImageServiceWeb.Models.ImageWebInfo

@{
    ViewBag.Title = "ImageView";
}

<h2>Image View</h2>

<h3>Server status: @ViewBag.IsConnected</h3>
<h4>Num of pics in outputDir: @ViewBag.NumofPics</h4>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Students[0].FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Students[0].LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Students[0].ID)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Students)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
        </tr>
    }

</table>


