@model ImageServiceWeb.Models.ImageWebModel

@{
    ViewBag.Title = "ImageView";
}

<h2>Image View</h2>

<h3>Server status: 
    @{string stat;
        var ans = Model.IsConnected.ToString();
        if (ans == "True")
        {
            stat = "Connected";
        }
        else
        {
        stat = "Disconnected";
        }
    }@stat</h3>
<h4>Number of pictures in target directory: @ViewBag.NumofPics</h4>


<table class="table">
    <tr>
        <th> @Html.DisplayNameFor(model => model.Students[0].LastName) </th>
        <th> @Html.DisplayNameFor(model => model.Students[0].FirstName) </th>
        <th> @Html.DisplayNameFor(model => model.Students[0].ID) </th>
        <th> @Html.DisplayNameFor(model => model.Students[0].Group) </th>
        <th></th>
    </tr>

    @foreach (var stud in Model.Students)
    {
        <tr>
            <td> @Html.DisplayFor(modelItem => stud.LastName) </td>
            <td> @Html.DisplayFor(modelItem => stud.FirstName) </td>
            <td> @Html.DisplayFor(modelItem => stud.ID) </td>
            <td> @Html.DisplayFor(modelItem => stud.Group) </td>
        </tr>
    }

</table>


