@model ImageServiceWeb.Models.Config


@{
    ViewBag.Title = "Config";
}

<h2>Settings</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Config Settings</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <table class="table">
            <tr>
                <td>
                    @Html.LabelFor(m => m.OutputDirectory)
                </td>
                <td>
                    @Html.DisplayFor(m => m.OutputDirectory)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.SourceName)
                </td>
                <td>
                    @Html.DisplayFor(m => m.SourceName)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.LogName)
                </td>
                <td>
                    @Html.DisplayFor(m => m.LogName)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.ThumbnailSize)
                </td>
                <td>
                    @Html.DisplayFor(m => m.ThumbnailSize)
                </td>
            </tr>
           
</table>

            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Handlers)
                    </th>
                </tr>
                @foreach (var item in Model.Handlers)
                {
                    <tr>
                      
                        <td>
                            @Html.ActionLink(@item, "DeleteHandler", new { toBeDeletedHandler = item })
                        </td>
                       
                    </tr>
                }


            </table>


</div>
}


