@model ImageServiceWeb.Models.ConfigModel


@{
    ViewBag.Title = "Configuration";
}

<h2>Settings</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Config Settings</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <table class="table">
            <tr>
                <td>
                    @Html.LabelFor(model => model.OutputDir)
                </td>
                <td>
                    @Html.DisplayFor(model => model.OutputDir)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.SrcName)
                </td>
                <td>
                    @Html.DisplayFor(model => model.SrcName)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.LogName)
                </td>
                <td>
                    @Html.DisplayFor(model => model.LogName)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.ThumbnailSize)
                </td>
                <td>
                    @Html.DisplayFor(model => model.ThumbnailSize)
                </td>
            </tr>
           
</table>

            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Handlers)
                    </th>
                </tr>
                @foreach (var handler in Model.Handlers)
                {
                    <tr>
                      
                        <td>
                            @Html.ActionLink(@handler, "DeleteHandler", new { toBeDeletedHandler = handler })
                        </td>
                       
                    </tr>
                }


            </table>


</div>
}


