@model ImageServiceWeb.Models.Photo

@{
    ViewBag.Title = "PhotosViewer";
}

<h2>PhotosViewer</h2>
<h3>@Model.Name</h3>
<p>@Model.Month @Model.Year </p>

<p><img src="@Url.Content(Model.ImageRelativePath)"></p>
        <a href="@Url.Action("DeletePhoto", new { photoRelPath = Model.ImageRelativePath})" id="bDelete" class="btn btn-danger btn-xs" role="button">Delete</a>


